* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }
  p {
    font-size: 12px;
    text-align: center;
  }
  
  .imagen-buscador{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .precio-descuento{
    display: flex;
    
  }
  
  .dos-ul{
    display: flex;
  }
  
  #barra1{
  display: flex;
  width: 50%;
  justify-content: space-between;
  }
  
  #barra2{
  display: flex;
  width: 50%;
  justify-content: space-between;
  }
  
  h3 {
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin: 14px;
  }
  .precio {
    font-size: 18px;
    text-align: left;
    margin-top: 5px;
    width: 30%;
  }
  .descuento {
    font-size: 16px;
    text-align: left;
    color: #39b54a;
    margin-top: 5px;
    width: 70%;
  }
  .descripcion {
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
    display: none;
  }
  header {
    background-color: #eac926;
  }
  header p {
    margin-top: 10px;
  }
  header nav {
    font-size: 12px;
    margin-top: 10px;
    display: none;
  }
  header ul {
    margin-top: 10px;
  }
  
  header ul li {
    list-style-type: none;
  }
  header ul li a {
    text-decoration: none;
    color: #000;
  }
  main img {
    width: 100%;
  }
  .burger-menu {
    text-align: center;
  }
  .burger-menu i {
    background-color: #1259c3;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
  }
  
  /* inicio de footer */
  .footer-icons {
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
  }
  footer p {
    text-align: center;
    padding: 10px;
  }
  footer h4 {
    text-align: center;
    font-weight: bold;
  }
  footer {
    background-color: #fff;
    margin-top: 20px;
  }
  /*fin de footer*/
  
  main section {
    width: 90%;
    margin: auto;
  }
  main section article {
    margin-top: 10px;
    justify-content: space-around;
  }
  .contenedor-articulo {
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    padding: 15px;
  }
  .circulo-icono {
    float: right;
    color: #39b54a;
    border-radius: 50%;
    border: 1px solid #39b54a;
    width: 30px;
    height: 30px;
    padding: 5px;
    position: relative;
    bottom: 36px;
    right: 20px;
  
  }
  .fa-truck {
    margin: 5px;
  }
  
  
  
  @media (min-width: 361px) {
    .descripcion {
      display: block;
    }
    main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header nav {
      display: block;
    }
    .burger-menu {
      display: none;
    }
  }
  
  @media (min-width: 768px){
    main section{
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
    }
    main section article{
      width: 48%;
      
    
    }
  }
  
  @media (min-width: 1280px){
    main section{
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
    }
    main section article{
      width: 24%;
  
    }
  }